root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
end_of_line = lf

[*.cpp,*.cc,*.h,*.hpp]
trim_trailing_whitespace = true

[[Mm]akefile,*.mk]
indent_style = tab

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[.clang-format,*.yaml]
indent_size = 2
indent_style = space
